doctype html
html(lang="en")
  head
    title= 'Jim Wright | Canadian Web/Software Developer'
    meta(name='description', content='Web Developer specializing in Angular, Node, SASS, HTML5, CSS3 in Alberta, Canada.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Josefin+Sans|Amatic+SC', type='text/css')
    link(rel='stylesheet', href='/css/main.css', type='text/css')
  body
    .container
      section
        header
          h1.
            JIMBO.IO
        p.
          My name is Jim Wright, I live in Alberta, Canada.
        p.
          I work as a senior full stack developer at #[a(href='https://anow.com') Anow], a SaaS to make real estate appraisers lives easier. At Anow, I use #[a(href='https://angularjs.org/') Angular], #[a(href='https://jquery.com/') jQuery], #[a(href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx') C#], #[a(href='http://gulpjs.com/') Gulp] and #[a(href='http://getbootstrap.com/') Bootstrap].
        p.
          My last job was as a front-end developer at #[a(href='http://www.ea.com/') Electronic Arts].
        p.
          At EA, I was a primary developer on the #[a(href="http://dragonage.com") Dragon Age] website project. I also worked on the #[a(href="https://easportsfifaworld.com") Fifa World] website, the #[a(href='http://www.thesims.com/the-sims-4') Sims 4] website and others. I used #[a(href='https://angularjs.org/') Angular], #[a(href='http://gruntjs.com/') Grunt], #[a(href='http://sass-lang.com') SASS], #[a(href='http://compass-style.org/') Compass], #[a(href='http://foundation.zurb.com/') Foundation], #[a(href='http://symfony.com/') Symfony] and #[a(href='https://grails.org/') Grails].
        p.
          My favourite technologies to use are #[a(href='https://angularjs.org/') Angular], #[a(href='http://sass-lang.com') SASS] and #[a(href='https://nodejs.org/') NodeJS].
        p.
          I also like brewing beer, bicycles and fly fishing.
        p.
          If you'd like to chat, you can reach me at #[a(href='mailto:jw@jimbo.io') jw@jimbo.io] or add me to #[a(href='https://www.linkedin.com/in/jimwca') LinkedIn].